extends layout

block content
  nav
    ul.navigation
      a(href='#')
        li Home
      a(href='#')
        li About
      a(href='#')
        li Contact
      a(href='#')
        li Gallery
  header Maya's Designer Pups
  .imageContainer
    .imageBorder
      img(src='/images/Black-Poodle.jpg' alt='black poodle' height='150px' width='200px')
    .imageBorder
      img(src='/images/Brown-Poodle.jpg' alt='brown poodle' height='150px' width='200px')
    .imageBorder
      img(src='/images/Grey-Poodle.jpg' alt='grey poodle' height='150px' width='200px')
  .brief-content
    article
      h2 What we're all about
    img(src='' alt='')
