doctype html
html
  head
    head
    title Momma Brown's Pups
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')

  body
    block content
