doctype html
html
  head
    title Maya's Designer Pups
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    script(src="/bootstrap/js/bootstrap.bundle.js")
    script(src="/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")

  nav
    ul.navigation
      a(href='#')
        li Home
      a(href='#')
        li Contracts
      a(href='#')
        li Waiting List
      a(href='#')
        li About
      a(href='#')
        li Gallery
      a(href='#')
        li Tips
      a(href='#')
        li Other Services
    

  body.web-body
    block content

  
  footer 

  